.row_element {
  height: 100%;
  width: 100%;
  border: 0.15rem solid rgb(126, 166, 220, 1);
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(126, 166, 220, 0.5);
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__name {
    font-size: clamp(0.8rem, 1vw + 0.8rem, 2.5rem);
    overflow-wrap: break-word;
  }

  &__value {
    font-size: clamp(0.8rem, 1vw + 0.8rem, 2.5rem);
    overflow-wrap: break-word;
  }
}
