.transaction_card {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 8rem;
  padding: 1rem 5rem;
  margin: 1rem 0;
}

.transaction_card > * {
  flex: 1;
}

.shop_address {
  flex: 2;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shop_name {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  mix-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .name {
    mix-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.created_at {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
}

.fraud {
  &__error {
    color: rgb(179, 1, 1);
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
