.reg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(100, 166, 240, 1);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.form__container {
  $input-height: 4rem;
  label {
    width: 100%;
    input {
      width: 95%;
      height: $input-height;
    }
  }

  .fullName {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-8%);
      left: 1rem;
      width: 2rem;
      height: 2rem;
      background-image: url("@assets/icons/fullName.png");
      background-size: cover;
      pointer-events: none;
    }

    input {
      padding-left: 4rem;
    }
  }

  .address {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-10%);
      left: 1rem;
      width: 2rem;
      height: 2rem;
      background-image: url("@assets/icons/address.png");
      background-size: cover;
      pointer-events: none;
    }

    input {
      padding-left: 4rem;
    }
  }
}
